[submodule "dependencies/fusepp"]
	path = dependencies/fusepp
	url = https://github.com/xloem/fusepp.git
	branch = member-functions
[submodule "dependencies/siaskynetpp"]
	path = dependencies/siaskynetpp
	url = https://github.com/xloem/siaskynetpp
